@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerLink {
    @apply block py-2 text-white sm:text-xl font-bold rounded md:p-0 transform transition duration-300 hover:scale-125 hover:text-blue-700
  }

  .textAnimationHover {
    @apply transform transition duration-300 hover:scale-95 cursor-default
  }

  .blueGradientButton {
    @apply bg-gradient-to-br from-blue-900 via-blue-700 to-blue-500 transition duration-300 ease-in-out hover:opacity-75
  }
  
  .blueGradientText {
    @apply bg-gradient-to-br from-blue-900 via-blue-700 to-blue-500
  }

  .tabs {
    @apply font-semibold hover:text-white text-[#ADB7BE] cursor-pointer transform transition duration-300 hover:scale-110
  }

  .tabsActive {
    @apply border-b-2 text-white border-blue-500 transform scale-110
  }

  .tags {
    @apply rounded-full border-2 border-slate-600 px-6 py-2 hover:border-slate-100 focus:border-blue-500 transition-all duration-300
  }

  .tagsActive {
    @apply border-blue-600
  }
}

* {
  scroll-margin-top: 30px;
}

.footer .animation {
  background: linear-gradient(90deg, rgba(88, 70, 249, 0.00) 10.40%, #F25AC9 26.56%, #45D9FC 41.15%, #5846F9 59.90%, #003350 75.52%, rgba(88, 70, 249, 0.00) 91.67%);
  background-size: 300% 100%;
  border-radius: 50%;
  backdrop-filter: blur(12px);
  animation: colorAnimation 8s linear infinite;
}

.neonImage {
  animation: neon-glow 1s ease-in-out infinite, pulse 3s ease-in-out infinite;
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 0 10px rgba(0, 0, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 51, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 102, 255, 0.2);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

@keyframes colorAnimation {
	0% {
		background-position: 0% 0;
	}

	40% {
		background-position: -100% 0;
	}

	60% {
		background-position: -150% 0;
	}

	80% {
		background-position: -200% 0;
	}

	100% {
		background-position: -300% 0;
	}
}